Host bastion
    User                   ec2-user
    HostName               bastion.anilens.co.za
    IdentityFile           ~/.ssh/EC2KeyPair.pem
    BatchMode              yes
    PasswordAuthentication no
    ControlMaster          auto
    ControlPath            ~/.ssh/mux-%r@%h:%p
    ControlPersist         5m
    ForwardAgent           yes

Host 20.*.*.* 
    ProxyCommand           ssh -W %h:%p bastion #-q only required on Mac
